@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Gabriela&family=Genos&family=Martel:wght@800&family=Megrim&family=Press+Start+2P&family=Rajdhani&family=Satisfy&display=swap');
*{
  color: #03191E
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: .5em;
}

.App {
  background-color: #C1CFDA;
}



.login button {
  background-color: #0B5D6F;
  padding: 1em;
  border-radius: 50%;
  font-size: 1em;
}

.login button:hover{
  background-color: #888;
}

.game-list{
  background-color: #08C4B1;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 1em;
  border: 2px solid white;
  border-radius: 10px;

}

.game-list-item{
  border: 2px solid white;
  padding: .25em;
  margin: .5em;
  border-radius: 10px;
  /* background-color:#20A4F3; */
  transition: all .5s ease-in-out; 
  background: rgba(51, 53, 170, 0.4)    /*  40% opaque green */ 

  /* opacity: 0.6; */
}

.game-list-item:hover{
  transform: scale(1.1); 

}

.game-list-item img {
  /* border: 2px #C1CFDA solid; */
  /* box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  box-shadow: 1px 1px 10px white, 1px 1px 5px #C1CFDA, 2px 2px 5px #59adde;
  border-radius: 8px;
}

.game-list-item button {
  background-color:#189084;
  border-radius: 3em;
}

.game-list-item button:hover {
  background-color:#24c2b2;
}


div {
  padding: .5em;
}

.login{
  background-color: #20A4F3;
}

.login form {
  background-color: #08C4B1;
  margin: 2em;
  padding: 2em;
}

.header{
  background: rgb(2,0,36);
  background: radial-gradient(circle, #9e4553 0%, #941C2F 35%, #4c1019 100%);
  border: 5px solid silver;
  border-style: inset;
  border-radius: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
}
.header h3 {
  padding: 0em;
  margin: 0em;
}

.header button{
  padding: .3em;
  transition: all .5s ease-in-out; 
  opacity: .6;
  background-color: #2fc0b1;
  border-radius: .8em;

}
.header button:hover{
  transform: scale(1.1); 
  background-color: #64cfc4;
}

.profile-picture {
  height: 2em;
  width: 2em;
  display: block;
  border-radius: 50%;
  margin-left: 5em;
}
/* ------------------- GameDetail ---------------------- */
/* .game-detail {
  display: inline-block;
} */


/* .game-detail-img {
  float: left;
  width: 50%;
 
}

.game-detail-info {
  float: right;
  width: 50%;
  display: block;
} */



/* ----------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.avatar-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}