@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Gabriela&family=Genos&family=Martel:wght@800&family=Megrim&family=Press+Start+2P&family=Rajdhani&family=Satisfy&display=swap');
*{
  color: #03191E
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c1d8da;

}

button {
  margin: .5em;
}

.App {
  background-color: #C1CFDA;
}

.game-detail {
  background: rgba(34, 36, 135, 0.4) ;
  border: white 2px solid;
  border-radius: 10px;
  width: 30em;
  overflow: auto;
}

.game-detail-img{
  border: 2px solid white;
  box-shadow: 1px 1px 40px white, 1px 1px 5px #C1CFDA, 2px 2px 5px #59adde;
  border-radius: 8px;
}

.game-detail-info {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}

.comments, .add-game-form, .account-form{
  overflow: auto;
  height: 10em;
  border: #0b5565 3px solid;
  border-style: inset;
  border-radius: 10px;
  background-color: #1595b2;
  text-align: left;
}

.account-form{
  height: fit-content;
}

.add-game-form {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative;
}

.detail-description{
  height: 20em;
  overflow: auto;
  background-color: #3ab5d1;
  border: #0b5565 3px solid;
  border-style: inset;
  border-radius: 10px;
}

.comment-box{
  display: flex;
}

.comment-img {
  margin-right: 1em;
}

.login button, .account-setting-button, .login-submit, .sassy-button, .form-button, .close-detail-button, .add-game-form-submit  {
  background-color: rgba(39, 84, 167, 0.4) ;
  padding: 1em;
  border-radius: 50%;
  font-size: 1em;
  color:#3dafa4;
  opacity: 1;
}

.account-setting-button {
  color:#0b5565;
  font-size: 1em;
  height: 4em;
  margin-left: 60%;
}

.account-form button {
  font-size: .5em;
}

.close-detail-button{
  height: fit-content;
}

.sassy-button{
  background-color: rgba(39, 84, 167, 0.7) ;
}

/* .game-list-item button {
  /* position: absolute;
  bottom: 2px;
  height: 100%; */


.login button:hover, .login-submit:hover, .sassy-button:hover, .form-button:hover, .close-detail-button:hover{
  background-color: #888;
}

.game-list, .saved-game-list{
  background-color: #08C4B1;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 1em;
  border: 2px solid white;
  border-radius: 10px;

}


.game-list-emojis {
  padding: 0em;
  margin: 0em;
  position: inherit;
}
.game-list-emojis p {
  padding: 0;
  margin: 0;
}

.similar-game {
  width: 15em;
}

.similar-game-bin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.game-list-item, .similar-game, .saved-game-item {
  border: 2px solid white;
  padding: .25em;
  margin: .5em;
  border-radius: 10px;
  /* background-color:#20A4F3; */
  transition: all .5s ease-in-out; 
  background: rgba(51, 53, 170, 0.4)    /*  40% opaque green */ 

  /* opacity: 0.6; */
}

.game-list-item:hover, .saved-game-item:hover{
  transform: scale(1.1); 

}

input {
  opacity: .6;
}

.game-list-item img, .similar-game img, .saved-list-img  {
  /* border: 2px #C1CFDA solid; */
  /* box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  box-shadow: 1px 1px 10px white, 1px 1px 5px #C1CFDA, 2px 2px 5px #59adde;
  border-radius: 8px;
}

.game-list-item button, .account-form button, .account-form-submit, .emoji-btn, .saved-game-item button, .key-spot button {
  background-color:#189084;
  border-radius: 3em;
  transition: all .5s ease-in-out; 
}

.account-setting-button:hover {
  transform: scale(1.1);
}

.emoji-btn {
  float: left;
}

.game-list-item button:hover, .account-setting-button:hover, .emoji-btn:hover, .saved-game-item button:hover  {
  background-color:#24c2b2;
}


div {
  padding: .5em;
}

.login{
  background-color: #20A4F3;
  background-image: url("https://images.squarespace-cdn.com/content/v1/595d019ed2b857b047abe776/1569616755409-5IEMJ3AGVPSY63ELNOQG/Board+Game+1.jpg?format=1500w");

}

.login form {
  background: rgba(51, 130, 170, 0.3) ;
  margin: 2em;
  padding: 2em;
  border: #03191E 2px solid;
  border-radius: 20px;
}

.header {
  background: url("https://cdn.vox-cdn.com/thumbor/binv_0z0i-bJE4-tmbjcoVXAr0I=/100x0:1180x720/1200x800/filters:focal(100x0:1180x720)/cdn.vox-cdn.com/uploads/chorus_image/image/45728350/catan.0.0.jpg");
  /* background: radial-gradient(circle, #9e4553 0%, #941C2F 35%, #4c1019 100%); */
  border: 5px solid silver;
  border-style: inset;
  border-radius: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 3em;
  margin-bottom: 0em;
}

.header h3 {
  color: #82bdb7;
  padding: 0em;
  margin: 0em;
}

.header button, .game-list-submit{
  padding: .3em;
  transition: all .5s ease-in-out; 
  opacity: .6;
  background-color: #2fc0b1;
  border-radius: .8em;

}
.header button:hover, .game-list-submit:hover{
  transform: scale(1.1); 
  background-color: #64cfc4;
}

.profile-picture {
  height: 2em;
  width: 2em;
  display: block;
  border-radius: 50%;
  margin-left: 5em;
}
.key-spot{
  display: flex;
  border: white 2px solid;
  width: fit-content;
  border-radius: 10px;
  background-color: #2e8a81b2;
  font-size: .6em;
  margin-bottom: 5px;
  margin-left: 5px;
  /* background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Key_Vector_Graphic.svg/1000px-Key_Vector_Graphic.svg.png"); */
}
.key-spot button{
  height: 2em;
  color: white;
}
.key-spot button:hover{
  height: 2em;
  color: white;
  background-color: #92a2a0b2;
  transform: scale(.9);
}
ul {
  list-style: none;
}
/* ------------------- GameDetail ---------------------- */
/* .game-detail {
  display: inline-block;
} */


/* .game-detail-img {
  float: left;
  width: 50%;
 
}

.game-detail-info {
  float: right;
  width: 50%;
  display: block;
} */



/* ----------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.avatar-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.category-select{
  border: 0;
  margin:0 .3em;
  /* border-bottom: 1px solid #000000; */
  box-shadow:0 0 1px 2px #6d877e;
  border-radius: 2px;
}

.search-form {
  width:80%;
  padding:20px;
  display: inline;
}

.text-input {
width: 30%;
padding:3px;
border: 0;
margin:.2em .3em;
box-shadow:0 0 1px 2px #6d877e;
border-radius: 2px;
}

.num-input {
  width: 30px;
  padding:3px;
  border: 0;
  box-shadow:0 0 1px 2px #6d877e;
  border-radius: 2px;
  margin:1em .3em;
 
}

.game-list-submit {
margin: 1em 0;
}
.choose-category{
 display: inline-block;
 margin-left: 60%;
 width: 25%;
}